<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer List</title>
</head>
<body>
    <h1> Customer Details</h1>
    <div>  </div>
    <ul>
        {% for customer in customers %}
        <li>
            <h3>{{customer.first_name}}{{customer.last_name}}</h3>
            <p><strong>phone:</strong>{{customer.phone}}</p>
            <p><strong>Address:</strong>{{customer.address}}</p>
            <p><strong>Email:</strong>{{customer.email}}</p>
            <p><strong>Joined on:</strong>{{customer.created_at}}</p>
            

        </li>
        {% end for %}
    </ul>
</body>
</html>